<div class='form-container'>
  <%= form_for :search_result, html: { class: 'search-form', method: :get } do |f| %>
    <%= content_tag(:h2, 'Where are you going?') %>
      <%= content_tag :div, class: 'input-wrapper' do %>
        <%= f.label :search, 'Pick-up Location', class: 'input-label' %>
        <%= f.text_field :search,
          class: 'text-field locationSearch',
          placeholder: 'city, airport, station, region and district...',
          'aria-required': true %>
        <ul class='resultsList'></ul>
    <% end %>
  <% end %>
</div>

<script type='text/javascript'>
  locationSearch.init();
</script>
