// Place all the styles related to the RentalCars controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.form-container {
  margin: 10% 10%;
  font-family: Arial, Helvetica, sans-serif;

  form.search-form {
    width: 60%;
    padding: 25px;
    background-color: #F3CE56;
    border-bottom: 2px solid #DAB129;

    div.input-wrapper {
      line-height: 30px;

      label.input-label {
        display: block;
        font-size: 0.875em;
        padding: 0 0 7px 0;
        color: #555;
      }

      input.text-field {
        padding: 12px 8% 12px 2%;
        width: 90%;
        line-height: 15px;
        height: auto;
        margin: 0;
        border-radius: 0;
        background: #FEFEFE;
        border: 1px solid #a9a9a9;
        font-size: 0.813em;
        color: #555;
      }
    }

    ul.resultsList {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }

    li.resultListItem {
      padding-left: 5px;
      display: block;
      cursor: pointer;
    }
    li.resultListItem:hover {
      background-color: #a0a0a0;
    }
  }

}

h2 {
  color: #000;
  font-size: 2em;
  font-weight: 700;
  line-height: 1.3em;
  text-shadow: none;
  padding-bottom: 10px;
  margin: 0;
}
